*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}  
.form-background{
    max-width: 600px;
    display: flex;
    min-height: 100% ;
    background-image: url(/img/bg-intro-desktop.png) ;
    background-color: hsl(0, 100%, 74%);
    align-items: center;
    background-size: 100% 100%;
    background-repeat: repeat-y;
}
.banner-items{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
}
.form-text{
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}
h1{
    font-weight: 700;
    margin-bottom: 2rem;
}
div p{
    /* font-weight:400 ; */
    font-size: small;
}